.App {
  text-align: center;
  margin-bottom: 5em;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.test {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
  max-width: 60vw;
}

.test > .test {
  border: 2px solid green;
}

.test a {
  font-size: 0.3em;
}

.test h3 {
  font-size: 24px;
}

.test span, .test p {
  font-size: 14px;
  font-weight: 300;
}

mark.note {
  font-size: 12px;
  padding: 1.5px;
}

.primary {
  color: orangered;
}


.markdown-body {
  font-size: 0.3em;
  max-width: 80%;
  text-align: left;
  padding: 2em;
}

.toast[role="alert"] {
  position: fixed;
  bottom: 8em;
  right: 1em;
  background-color: #444;
  max-height: 40vh;
  overflow: scroll;
  width: 350px;
}

div[data-method="log"] {
  margin-top: 0.5em;
  background: rgb(134, 134, 134);
}
